/* Base générale */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* En-tête */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-btn {
    background-color: #fff;
    color: #4a90e2;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #357ab7;
    color: #fff;
}

/* Conteneur principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* Moins la hauteur du header et footer */
    padding: 20px;
}

/* Carte produit */
.product-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.product-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-demo {
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-info h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1rem;
    margin: 10px 0 20px;
    color: #666;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 20px;
}

/* Boutons */
.btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.primary-btn {
    background-color: #4a90e2;
    color: #fff;
}

.primary-btn:hover {
    background-color: #357ab7;
}

/* Pied de page */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f9;
    color: #666;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
}
